<nav class="fcdo-navigation" role="navigation" aria-label="Navigation">
  <div class="govuk-width-container fcdo-navigation__container">
    <button class="fcdo-navigation__toggle" aria-expanded="false" aria-controls="nav-menu" aria-label="Toggle menu" id="navigationToggle">
      Menu
    </button>
    <ul id="navigationMenu" class="fcdo-navigation__list" hidden>
       {% for item in navItems %}
        <li class="fcdo-navigation__item{% if pageSection == item.slug %} fcdo-navigation__item--active{% endif %}">
          <a href="{{ item.url }}" class="fcdo-navigation__link">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>