{% extends "layout.html" %}

{% block title %}
Components
{% endblock %}

{% block pageTitle %}
<span class="govuk-caption-xl">Design system</span>
<h1 class="govuk-heading-xl">Components</h1>
{% endblock %}

{% block content %}
<h2 class="govuk-heading-l">Design Consistent Components</h2>
<p class="govuk-body">The new FCDO Design System will introduce a structured approach to designing and creating components, ensuring consistency, accessibility, and efficiency across all digital services.</p>

<details class="govuk-details govuk-!-margin-bottom-0">
    <summary class="govuk-details__summary fcdo-details__summary">
        <span class="govuk-details__summary-text">
            Component design process
        </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">New components in the FCDO Design System will follow a structured lifecycle, including:</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Research and discovery</h3>
        <p class="govuk-body">Identifying user needs, accessibility requirements, and ensuring alignment with existing GOV.UK standards.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Wireframing and prototyping</h3>
        <p class="govuk-body">Creating low-fidelity and high-fidelity designs to visualize the component's look and behavior.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Testing and accessibility reviews</h3>
        <p class="govuk-body">Ensuring compliance with WCAG 2.2 accessibility standards and testing with real users.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Development and documentation</h3>
        <p class="govuk-body">Writing scalable, reusable CSS & JavaScript, with detailed documentation in the FCDO Design System.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Iterative updates </h3>
        <p class="govuk-body">Based on user feedback, data insights, and emerging best practices.</p>
    </div>
</details>

<details class="govuk-details govuk-!-margin-bottom-0">
    <summary class="govuk-details__summary fcdo-details__summary">
        <span class="govuk-details__summary-text">
            Component structure
        </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">Each component will have:</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">HTML Structure</h3>
        <p class="govuk-body">Identifying user needs, accessibility requirements, and ensuring alignment with existing GOV.UK standards.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">CSS Styling</h3>
        <p class="govuk-body">Using FCDO specific styling (e.g., fcdo-color-primary, fcdo-spacing-m) layered on top of GOV.UK styles.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">JavaScript (if needed)</h3>
        <p class="govuk-body"> Lightweight, progressive enhancement-based functionality for interactive elements.</p>
    </div>
</details>

<details class="govuk-details">
    <summary class="govuk-details__summary fcdo-details__summary">
        <span class="govuk-details__summary-text">
            New and enhanced UI components
        </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">The system will introduce new and customised versions of common GOV.UK components, including:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Header</li>
            <li>Navigation Bar</li>
            <li>Sub Navigation</li>
            <li>Counter</li>
            <li>Progress Bar</li>
            <li>Sortable Table and Filter</li>
            <li>Add Another Item</li>
            <li>Date Picker</li>
            <li>Notification Badge</li>
        </ul>

    </div>
</details>

<!--  -->

{% endblock %}