{% extends "layout.html" %}

{% block title %}
    Page Navigation
{% endblock %}

{% block pageTitle %}
<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Page Navigation</h1>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Page Navigation</h1>
<p class="govuk-body">The Page Navigation component helps users navigate around your service.</p>
<div class="fcdo-component">
    <div class="fcdo-component__tabs">
        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                Contents
            </h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#example">
                        Example
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#html">
                        HTML
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#nunjucks">
                        Nunjucks
                    </a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="example">
              <nav class="fcdo-page-navigation" role="navigation" aria-label="Tertiary Navigation" style="max-width: 250px;">
  <div class="fcdo-page-navigation__container">
    <ul class="fcdo-page-navigation__list">
      <li class="fcdo-page-navigation__item">
        <a href="#" class="fcdo-page-navigation__link">Page Link 1</a>
      </li>
      <li class="fcdo-page-navigation__item fcdo-page-navigation__item--active">
        <a href="#" class="fcdo-page-navigation__link">Page Link 2</a>
      </li>
      <li class="fcdo-page-navigation__item">
        <a href="#" class="fcdo-page-navigation__link">Page Link 3</a>
      </li>
      <li class="fcdo-page-navigation__item">
        <a href="#" class="fcdo-page-navigation__link">Page Link 4</a>
      </li>
    </ul>
  </div>
</nav>

            </div>

            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="html">
                <button class="fcdo-button fcdo-button--outline" type="button" onclick="copyCode()" id="copyHTML">Copy code</button>
                <pre class="language-html">
                    <code class="language-html" id="htmlCode">
&lt;nav class=&quot;fcdo-page-navigation&quot; role=&quot;navigation&quot; aria-label=&quot;Page Navigation&quot;&gt;
  &lt;div class=&quot;fcdo-page-navigation__container&quot;&gt;
    &lt;ul class=&quot;fcdo-page-navigation__list&quot;&gt;
        &lt;li class=&quot;fcdo-page-navigation__item&quot;&gt;
          &lt;a href=&quot;#&quot; class=&quot;fcdo-page-navigation__link&quot;&gt;Page Link 1&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;fcdo-page-navigation__item fcdo-page-navigation__item--active&quot;&gt;
          &lt;a href=&quot;#&quot; class=&quot;fcdo-page-navigation__link&quot;&gt;Page Link 2&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;fcdo-page-navigation__item&quot;&gt;
          &lt;a href=&quot;#&quot; class=&quot;fcdo-page-navigation__link&quot;&gt;Page Link 3&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;fcdo-page-navigation__item&quot;&gt;
          &lt;a href=&quot;#&quot; class=&quot;fcdo-page-navigation__link&quot;&gt;Page Link 4&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/nav&gt;
                </code>
                </pre>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="nunjucks">
                <h2 class="govuk-heading-l">Nunjucks</h2>
            </div>
        </div>
    </div>
</div>

<script>
    function copyCode() {
        const code = document.getElementById('htmlCode').innerText;
        const button = document.getElementById('copyHTML');

        navigator.clipboard.writeText(code).then(() => {
            button.textContent = 'Code copied';
            //button.disabled = true;
            setTimeout(() => {
                button.textContent = 'Copy code';
                button.disabled = false;
            }, 2000);
        });
    }

    document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("navigationExampleToggle");
    const navMenu = document.getElementById("navigationExampleMenu");

    if (!menuButton || !navMenu) {
        console.error("menuButton or navMenu not found");
        return;
    }

    menuButton.addEventListener("click", () => {
        const isOpen = navMenu.hasAttribute("hidden") === false;

        if (isOpen) {
        navMenu.setAttribute("hidden", "");
        menuButton.setAttribute("aria-expanded", "false");
        } else {
        navMenu.removeAttribute("hidden");
        menuButton.setAttribute("aria-expanded", "true");
        }
    });
    });

</script>
{% endblock %}