// fcdo colour palette
$fcdo-color-1: #012069;
$fcdo-color-2: #407ec9;
$fcdo-color-3: #c8102e;
$fcdo-color-4: #833177;
$fcdo-color-5: #5cb8b2;
$fcdo-color-6: #eaaa00;
$fcdo-color-7: #c8c9c7;
$fcdo-color-8: #00b140;

// fcdo dark colour palette
$fcdo-dark-color-1: #202124;
$fcdo-dark-color-2: #66B3FF;
$fcdo-dark-color-3: #ff4c5a;
$fcdo-dark-color-4: #b56bd9;
$fcdo-dark-color-5: #7fded8;
$fcdo-dark-color-6: #ffd84d;
$fcdo-dark-color-7: #e1e2e0;
$fcdo-dark-color-8: #33d16b;