// fcod sapacing settings
$fcdo-spacing-0: 0;
$fcdo-spacing-1: 5px;
$fcdo-spacing-2: 10px;
$fcdo-spacing-3: 15px;
$fcdo-spacing-4: 20px;
$fcdo-spacing-5: 25px;
$fcdo-spacing-6: 30px;
$fcdo-spacing-7: 40px;
$fcdo-spacing-8: 50px;
$fcdo-spacing-9: 60px;
