{% extends "layout.html" %}

{% block title %}
    FCDO Design System
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Design system</span>
    <h1 class="govuk-heading-xl">Overview</h1>
{% endblock %}

{% block content %}
    <h2 class="govuk-heading-l">The FCDO design system</h2>
    <p class="govuk-body">The FCDO is introducing a new design system aimed at improving the digital experience for users of government services. This system is specifically designed to ensure consistency, accessibility, and usability across FCDO's digital platforms, making it easier for citizens, businesses, and government employees to interact with FCDO’s online services.</p>

    <h2 class="govuk-heading-m">Why a new design system?</h2>

    <p class="govuk-body">The introduction of the FCDO design system reflects the department's commitment to creating high-quality, user-friendly, and accessible digital services for all. By improving efficiency across teams, reducing duplication of effort, and ensuring consistency, the system should allow the department to deliver better services in less time and at a lower cost.</p>
    <p class="govuk-body">As the digital landscape evolves, the design system will be continuously updated to incorporate best practices, feedback from users, and new technologies. Ultimately, the goal is to provide citizens and users with a seamless, efficient, and engaging experience when interacting with the FCDO online.</p>
{% endblock %}