{% extends "layout.html" %}

{% block title %}
    Prototyping Kit
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Design system</span>
    <h1 class="govuk-heading-xl">Prototyping Kit</h1>
{% endblock %}

{% block content %}
    <h2 class="govuk-heading-l">Prototyping Kit</h2>
    <p class="govuk-body">Quickly make interactive, accessible and realistic prototypes of GOV.UK services.</p>
    <p class="govuk-body">Use prototypes to get valuable feedback and insights from user research or the people you work with.</p> 

    <h2 class="govuk-heading-m">Who the kit is for</h2>
    <p class="govuk-body">The kit is used by teams across government. Anyone can use the kit, including:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>content, interaction and service designers</li>
        <li>developers</li>
        <li>user researchers</li>
        <li>product owners</li>
    </ul>

    <h2 class="govuk-heading-m"> Save time with templates and components</h2>
    <p class="govuk-body">The kit comes with templates to create common page types.</p>
    <p class="govuk-body">You can also copy example code from the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a> to add styles, components and patterns into your prototype. This means you can:</p> 

    <ul class="govuk-list govuk-list--bullet">
        <li>create prototypes quickly and easily</li>
        <li>learn from the research and experience of other service teams</li>
        <li>avoid repeating work that's already been done</li>
    </ul>
{% endblock %}