{% extends "layout.html" %}

{% block title %}
    FCDO Design System
{% endblock %}

{% block pageTitle %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">FCDO Design System</h1>
    <p class="govuk-body">Use the FCDO Design System alongside the <a class="govuk-link govuk-link--inverse" href="https://design-system.service.gov.uk/">GOV.UK Design System</a>.</p>
    <p class="govuk-body">The DesignOps team supports design teams to work effectively and efficiently, with standards, guidance, and support.</p>
{% endblock %}

{% block content %}
        <h3 class="govuk-heading-l">Introduction</h3>
        <p class="govuk-body">The new FCDO Design System has been developed to meet those needs by providing a unified, governing framework of standards, components, and patterns that help every FCDO digital project deliver clearer, more usable, and more inclusive services.</p>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    </div>
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l govuk-!-margin-top-0">
    </div>
</div>

<h3 class="govuk-heading-l">FCDO design system</h3>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half-from-desktop">
        <div class="app-card">
            <div class="app-card__container">
                <img src="/assets/images/image-benefits.png" alt="FCDO Design System Benefits" class="govuk-!-margin-bottom-4" />
                <h2 class="govuk-heading-m fcdo-card__title">FCDO Design System Benefits</h2>
                <p class="app-card__description">Styles for typography, colour and more to make services look like FDCO.</p>
                <p class="app-card__description"><a href="/" class="govuk-link govuk-link--no-visited-state">Read about the benefits</a></p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half-from-desktop">
        <div class="app-card">
            <div class="app-card__container">
                <img src="/assets/images/image-components.png" alt="Components" class="govuk-!-margin-bottom-4" />
                <h2 class="govuk-heading-m fcdo-card__title">Components</h2>
                <p class="app-card__description">Components for building consistent user interfaces within the FCDO.</p>
                <p class="app-card__description"><a href="/" class="govuk-link govuk-link--no-visited-state">View FCDO components</a></p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half-from-desktop">
        <div class="app-card">
            <div class="app-card__container">
                <h2 class="govuk-heading-m fcdo-card__title">Tools</h2>
                <p class="app-card__description">View all the tools for developing FCDO projects and services.</p>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}