{% extends "layout.html" %}

{% block title %}
    FCDO Design System
{% endblock %}

{% block pageTitle %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">FCDO Design System</h1>
    <p class="govuk-body">The DesignOps team supports design teams to work effectively and efficiently, with standards, guidance, and support.</p>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
        <h3 class="govuk-heading-l">What is a design system?</h3>
        <p class="govuk-body">A design system is a collection of reusable components, guidelines, and standards that help teams create consistent, scalable, and efficient designs across a product or brand. </p>
        <a class="govuk-body govuk-link" href="/about-design-systems">Read about Design Systems</a>
    </div>
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l govuk-!-margin-top-0">
    </div>
</div>

<h3 class="govuk-heading-l">FCDO design system</h3>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
        <div class="fcdo-card"  onclick="window.location.href='/design-system/styles'">
            <div class="fcdo-card__container">
                <h2 class="govuk-heading-m fcdo-card__title">Styles</h2>
                <p class="fcdo-card__description">Styles for typography, colour and more to make services look like FDCO.</p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop">
        <div class="fcdo-card"  onclick="window.location.href='/design-system/components'">
            <div class="fcdo-card__container">
                <h2 class="govuk-heading-m fcdo-card__title">Components</h2>
                <p class="fcdo-card__description">Components for building consistent user interfaces.</p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop">
        <div class="fcdo-card">
            <div class="fcdo-card__container">
                <h2 class="govuk-heading-m fcdo-card__title">Tools</h2>
                <p class="fcdo-card__description">View all the tools for developing FCDO projects and services.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}