{% extends "layout.html" %}

{% block title %}
    FCDO Design System - Download FCDO Frontend
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Get Started</span>
    <h1 class="govuk-heading-xl">Download FCDO Frontend</h1>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Download FCDO Frontend</h1>
  <p class="govuk-body">If you want to try out FCDO Frontend in your project you can download and include compiled stylesheets, JavaScript and the asset files.</p>
  <p class="govuk-body"><a href="https://www.skwebsolutions.co.uk/assets/fcdo-frontend.zip" class="govuk-link govuk-link--no-visited-state" target="_blank">Download FCDO Frontend</a></p>
{% endblock %}