{% extends "layout.html" %}

{% block title %}
    FCDO Design System
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Get Started</span>
    <h1 class="govuk-heading-xl">Import Assets</h1>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Import Assets</h1>

<ol class="govuk-list govuk-list--number">
<li>Unzip the <a href="https://www.skwebsolutions.co.uk/assets/fcdo-frontend.zip" class="govuk-link govuk-link--no-visited-state" target="_blank">fcdo-frontend.zip</a> file</li>
<li>Copy the <strong>css</strong> folder to your project's assets folder. 
    <pre class="govuk-!-font-size-16"><code>fcdo-frontend-min.css</code></pre>   
</li>
<li>Copy the <strong>images</strong> folder to your project's assets folder.
    <pre class="govuk-!-font-size-16"><code>logo-fcdo.svg</code></pre>
</li>
<li>Copy the <strong>js</strong> folder to your project's assets folder.
    <pre class="govuk-!-font-size-16"><code>fcdo-frontend.min.js</code></pre>
</li>
</ol>
{% endblock %}