{% extends "layout.html" %}

{% block title %}
    FCDO Design System
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Design system</span>
    <h1 class="govuk-heading-xl">Overview</h1>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">Get started with the FCDO Front End</h1>

    <p class="govuk-body-l">
      The FCDO Front End provides a consistent set of tools, components, and patterns to help teams build services that align with the Foreign, Commonwealth & Development Office’s design standards.</p>
    <p class="govuk-body">
       It is designed to make development faster, more accessible, and easier to maintain by providing:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Reusable UI components</li>
      <li>Consistent design system</li>
      <li>Developer-friendly setup</li>
    </ul>

    <p class="govuk-body">
      Whether you are creating a new service or updating an existing one, this guide will walk you through installation, configuration, and usage so you can start building with confidence.
    </p>
{% endblock %}