{% extends "layout.html" %}

{% block title %}
    FCDO Design System - FCDO Frontend CSS
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Get Started</span>
    <h1 class="govuk-heading-xl">FCDO Frontend Javascript</h1>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">FCDO Frontend Javascript</h1>
  <p class="govuk-body">To use the Javascript from FCDO Frontend include the compiled Javascript file directly in your HTML:</p>
  <pre class="govuk-!-font-size-16"><code>&lt;script src="/path-to/fcdo-frontend.min.js"&gt;&lt;/script&gt;</code></pre>
{% endblock %}