.fcdo-colour {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: $fcdo-spacing-3;

    &__swatch {
        width: 40px;
        height: 40px;
        border-radius: 100px;
    }

    &__name {
        @include govuk-font($size: 19);
        font-family: $fcdo-font-family-mono;
    }

    &__hex {
        @include govuk-font($size: 19);
        margin-left: $fcdo-spacing-5;
        font-family: $fcdo-font-family-mono;
    }
}