{% extends "layout.html" %}

{% block title %}
    Colours
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Styles</span>
    <h1 class="govuk-heading-xl">Colours</h1>
{% endblock %}

{% block content %}
    <h2 class="govuk-heading-l">Colours</h2>
    <p class="govuk-body">Always use the FCDO and GOV.UK colour palette.</p>
    <h2 class="govuk-heading-m">Main Colours</h2>

<div class="fcdo-colour">
    <div class="fcdo-colour__swatch fcdo-brand-colour-1"></div>
    <div class="fcdo-colour__name">$fcdo-colour-1</div>
    <div class="fcdo-colour__hex">#012069</div>
</div>

<div class="fcdo-colour">
    <div class="fcdo-colour__swatch fcdo-brand-colour-2"></div>
    <div class="fcdo-colour__name">$fcdo-colour-2</div>
    <div class="fcdo-colour__hex">#407ec9</div>
</div>

<div class="fcdo-colour">
    <div class="fcdo-colour__swatch fcdo-brand-colour-3"></div>
    <div class="fcdo-colour__name">$fcdo-colour-3</div>
    <div class="fcdo-colour__hex">#c8102e</div>
</div>

<div class="fcdo-colour">
    <div class="fcdo-colour__swatch fcdo-brand-colour-4"></div>
    <div class="fcdo-colour__name">$fcdo-colour-4</div>
    <div class="fcdo-colour__hex">#833177</div>
</div>

<div class="fcdo-colour">
    <div class="fcdo-colour__swatch fcdo-brand-colour-5"></div>
    <div class="fcdo-colour__name">$fcdo-colour-5</div>
    <div class="fcdo-colour__hex">#5cb8b2</div>
</div>

<div class="fcdo-colour">
    <div class="fcdo-colour__swatch fcdo-brand-colour-6"></div>
    <div class="fcdo-colour__name">$fcdo-colour-6</div>
    <div class="fcdo-colour__hex">#eaaa00</div>
</div>

<div class="fcdo-colour">
    <div class="fcdo-colour__swatch fcdo-brand-colour-7"></div>
    <div class="fcdo-colour__name">$fcdo-colour-7</div>
    <div class="fcdo-colour__hex">#c8c9c7</div>
</div>

<div class="fcdo-colour">
    <div class="fcdo-colour__swatch fcdo-brand-colour-8"></div>
    <div class="fcdo-colour__name">$fcdo-colour-8</div>
    <div class="fcdo-colour__hex">#00b140</div>
</div>


{% endblock %}