$fcdo-font-family: "GDS Transport", arial, sans-serif;
$fcdo-font-family-mono: "ui-monospace", "menlo","Cascadia Mono","Segoe UI Mono", "consolas", "Liberation Mono", "monospace";

// fcdo colour palette
$fcdo-colour-1: #012069;
$fcdo-colour-2: #407ec9;
$fcdo-colour-3: #c8102e;
$fcdo-colour-4: #833177;
$fcdo-colour-5: #5cb8b2;
$fcdo-colour-6: #eaaa00;
$fcdo-colour-7: #c8c9c7;
$fcdo-colour-8: #00b140;

// fcdo dark colour palette
$fcdo-dark-colour-1: #121212;
$fcdo-dark-colour-2: #66B3FF;
$fcdo-dark-colour-3: #ff4c5a;
$fcdo-dark-colour-4: #b56bd9;
$fcdo-dark-colour-5: #7fded8;
$fcdo-dark-colour-6: #ffd84d;
$fcdo-dark-colour-7: #e1e2e0;
$fcdo-dark-colour-8: #33d16b;

// fcod spacing settings
$fcdo-spacing-0: 0;
$fcdo-spacing-1: 5px;
$fcdo-spacing-2: 10px;
$fcdo-spacing-3: 15px;
$fcdo-spacing-4: 20px;
$fcdo-spacing-5: 25px;
$fcdo-spacing-6: 30px;
$fcdo-spacing-7: 40px;
$fcdo-spacing-8: 50px;
$fcdo-spacing-9: 60px;
