.fcdo-brand-colour-1 { background-color: $fcdo-colour-1; }
.fcdo-brand-colour-2 { background-color: $fcdo-colour-2; }
.fcdo-brand-colour-3 { background-color: $fcdo-colour-3; }
.fcdo-brand-colour-4 { background-color: $fcdo-colour-4; }
.fcdo-brand-colour-5 { background-color: $fcdo-colour-5; }
.fcdo-brand-colour-6 { background-color: $fcdo-colour-6; }
.fcdo-brand-colour-7 { background-color: $fcdo-colour-7; }
.fcdo-brand-colour-8 { background-color: $fcdo-colour-8; }
